<mat-spinner *ngIf="isLoading"></mat-spinner>
<div>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="membershipGroupingId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Membership Grouping Id </th>
            <td mat-cell *matCellDef="let element"> {{element?.membershipGroupingId}} </td>
        </ng-container>

        <ng-container matColumnDef="manualUpdateIndicator">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Manual Update Indicator </th>
            <td mat-cell *matCellDef="let element"> {{element?.manualUpdateIndicator}} </td>
        </ng-container>

        <ng-container matColumnDef="billingGroupingName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Billing Grouping Name </th>
            <td mat-cell *matCellDef="let element"> {{element?.billingGroupingName}} </td>
        </ng-container>

        <ng-container matColumnDef="originalEffectiveDate">
            <th mat-header-cell *matHeaderCellDef> Original Effective Date </th>
            <td mat-cell *matCellDef="let element"> {{element?.originalEffectiveDate}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{'selected': sharedService.tab2SelectedRow == row}" (click)="onRowClicked(row)"></tr>

    </table>
    <div *ngIf="!isLoading && tableData.length == 0" style="margin: 24px;color: gray;text-align: center;">
        <h4>No Data Found</h4>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>




<div style="float:right">
    <button mat-icon-button [disabled]="!sharedService.tab2SelectedRow" color="primary" (click)="onEdit()">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button [disabled]="!sharedService.tab2SelectedRow" color="warn" (click)="onDelete()">
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button [disabled]="!sharedService.tab1SelectedRow" (click)="onAdd()">
        <mat-icon>add</mat-icon>
    </button>
</div>
<div></div>
<table *ngIf="sharedService.tab2SelectedRow" class="detail">
    <tr>
        <th>
            <h5>Billing info</h5>
        </th>
        <th>
            <h5></h5>
        </th>
        <th>
            <h5></h5>
        </th>
    </tr>
    <tr>
        <td>
            <div>Billing Status: {{sharedService.tab2SelectedRow?.billingStatus}}</div>
            <div>Effective Billing Status: {{sharedService.tab2SelectedRow?.effectiveBillingStatus}}</div>
            <div>Billing Pended Indicator: {{sharedService.tab2SelectedRow?.billingPendedIndicator}}</div>
        </td>

        <td>
            <div>Billing Status: {{sharedService.tab2SelectedRow?.billingStatus}}</div>
            <div>Effective Billing Status: {{sharedService.tab2SelectedRow?.effectiveBillingStatus}}</div>
            <div>Billing Pended Indicator: {{sharedService.tab2SelectedRow?.billingPendedIndicator}}</div>
        </td>

        <td>
            <div>Billing Status: {{sharedService.tab2SelectedRow?.billingStatus}}</div>
            <div>Effective Billing Status: {{sharedService.tab2SelectedRow?.effectiveBillingStatus}}</div>
            <div>Billing Pended Indicator: {{sharedService.tab2SelectedRow?.billingPendedIndicator}}</div>
        </td>

    </tr>
    <tr>
        <th>
            <h5>Billing Address</h5>
        </th>
        <th> </th>
        <th></th>
    </tr>
    <tr>
        <td>
            <div>Billing Status: {{sharedService.tab2SelectedRow?.billingStatus}}</div>
            <div>Effective Billing Status: {{sharedService.tab2SelectedRow?.effectiveBillingStatus}}</div>
            <div>Billing Pended Indicator: {{sharedService.tab2SelectedRow?.billingPendedIndicator}}</div>
        </td>
        <td>

            <div>Billing Status: {{sharedService.tab2SelectedRow?.billingStatus}}</div>
            <div>Effective Billing Status: {{sharedService.tab2SelectedRow?.effectiveBillingStatus}}</div>
            <div>Billing Pended Indicator: {{sharedService.tab2SelectedRow?.billingPendedIndicator}}</div>
        </td>
        <td>

            <div>Billing Status: {{sharedService.tab2SelectedRow?.billingStatus}}</div>
            <div>Effective Billing Status: {{sharedService.tab2SelectedRow?.effectiveBillingStatus}}</div>
            <div>Billing Pended Indicator: {{sharedService.tab2SelectedRow?.billingPendedIndicator}}</div>
        </td>

    </tr>

</table>