<form [formGroup]="theForm">

    <div>
        <mat-form-field>
            <input matInput formControlName="salesAccountCommonName" placeholder="Sales Account Common Name">
            <mat-error>Field is required</mat-error>
        </mat-form-field>
        <span style="margin:10px"> </span>
        <mat-form-field>
            <input matInput formControlName="effectiveDateCreateDate" placeholder="Create Date">
            <mat-error>Field is required</mat-error>
        </mat-form-field>
        <span style="margin:10px"> </span>
        <mat-form-field>
            <input matInput formControlName="currentAnniversaryDate" placeholder="Current Anniversary Date">
            <mat-error>Field is required</mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput formControlName="effectiveBillingStatus" placeholder="Effective Billing Status">
            <mat-error>Field is required</mat-error>
        </mat-form-field>
        <span style="margin:10px"> </span>
        <mat-form-field>
            <input matInput formControlName="eligibilityStatus" placeholder="Eligibility Status">
            <mat-error>Field is required</mat-error>
        </mat-form-field>
        <span style="margin:10px"> </span>
        <mat-form-field>
            <input matInput formControlName="billingPendedIndicator" placeholder="Billing Pended Indicator">
            <mat-error>Field is required</mat-error>
        </mat-form-field>
    </div>
    <!-- <div>
            <mat-form-field>
                <input matInput formControlName="effectiveBillingStatus">
                <mat-error>Field is required</mat-error>
            </mat-form-field>
            <span style="margin:10px"> </span>
            <mat-form-field>
                <input matInput formControlName="billingStatus">
                <mat-error>Field is required</mat-error>
            </mat-form-field>
            <span style="margin:10px"> </span>
            <mat-form-field>
                <input matInput formControlName="status">
                <mat-error>Field is required</mat-error>
            </mat-form-field>
        </div> -->
</form>



<div style="float:right">
    <button mat-button color="warn" (click)="onCancel()">
        <mat-icon>close</mat-icon> Cancel
    </button>
    &nbsp;
    <button color="primary" [disabled]="!theForm.valid" mat-raised-button (click)="onSaveAndClose()">
        <mat-icon>done</mat-icon> Save & Close
    </button>
</div>