<form [formGroup]="theForm">
    <div>
        <mat-form-field>
            <input matInput formControlName="manualUpdateIndicator" placeholder="Manual Update Indicator">
            <mat-error>Field is required</mat-error>
        </mat-form-field>
        <mat-checkbox *ngIf="checked" [(ngModel)] ="upateableFields.manualUpdateIndicator" [ngModelOptions]="{standalone: true}" ></mat-checkbox>
        <span style="margin:10px"> </span>
        <mat-form-field>
            <input matInput formControlName="billingGroupingName" placeholder="Billing Grouping Name">
            <mat-error>Field is required</mat-error>
        </mat-form-field>
        <mat-checkbox *ngIf="checked" [(ngModel)] ="upateableFields.billingGroupingName" [ngModelOptions]="{standalone: true}" ></mat-checkbox>
        <span style="margin:10px"> </span>
        <mat-form-field>
            <input matInput formControlName="originalEffectiveDate" placeholder="Original Effective Date">
            <mat-error>Field is required</mat-error>
        </mat-form-field>
    </div>
    <mat-checkbox *ngIf="data" [(ngModel)] ="checked" [ngModelOptions]="{standalone: true}" >Update Data for all</mat-checkbox>
</form>

<div style="float:right">
    <button mat-button color="warn" (click)="onCancel()">
        <mat-icon>close</mat-icon> Cancel
    </button>
    &nbsp;
    <button *ngIf="!checked" color="primary" [disabled]="!theForm.valid" mat-raised-button (click)="onSaveAndClose()">
        <mat-icon>done</mat-icon> Save & Close
    </button>
    <button *ngIf="checked" color="primary" [disabled]="!theForm.valid" mat-raised-button (click)="onViewAndCompare()">
        View & Compare
    </button>
</div>