<div style="max-height: 80vh;overflow: auto;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="membershipGroupingId">
            <th mat-header-cell *matHeaderCellDef>Membership Grouping Id </th>
            <td mat-cell *matCellDef="let element"> {{element.membershipGroupingId}} </td>
        </ng-container>

        <ng-container matColumnDef="field">
            <th mat-header-cell *matHeaderCellDef> Field Name </th>
            <td mat-cell *matCellDef="let element"> {{element.field}} </td>
        </ng-container>

        <ng-container matColumnDef="oldValue">
            <th mat-header-cell *matHeaderCellDef> Old Value </th>
            <td mat-cell *matCellDef="let element"> {{element.oldValue}} </td>
        </ng-container>

        <ng-container matColumnDef="newValue">
            <th mat-header-cell *matHeaderCellDef> New Value </th>
            <td mat-cell *matCellDef="let element"> {{element.newValue}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
        </tr>
    </table>
</div>

<div style="float:right;margin-top: 24px;">
    <button mat-button color="warn" (click)="onCancel()">
        <mat-icon>close</mat-icon> Cancel
    </button>
    &nbsp;
    <button color="primary" [disabled]="!selection.hasValue()" mat-raised-button (click)="onSaveAndClose()">
        <mat-icon>done</mat-icon> Save & Close
    </button>
</div>