<div>
    <mat-form-field>
        <textarea matInput [(ngModel)]="comment" placeholder="Type your comment here..."></textarea>
        <mat-error>Field is required</mat-error>
    </mat-form-field>
</div>
<div style="float:right">
    <button mat-button color="warn" (click)="onCancel()">
        <!-- <mat-icon>close</mat-icon> -->
         Cancel
    </button>
    &nbsp;
    <button color="primary" [disabled]="comment == ''" mat-raised-button (click)="onSubmit()">
        <!-- <mat-icon>done</mat-icon> -->
        Submit
    </button>
</div>