<mat-spinner *ngIf="isLoading"></mat-spinner>
<div>
    <table mat-table [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let element"> {{element?.status}} </td>
        </ng-container>

        <ng-container matColumnDef="contractId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contract Id </th>
            <td mat-cell *matCellDef="let element"> {{element?.contractId}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="salesAccountCommonName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sales Account Common Name </th>
            <td mat-cell *matCellDef="let element"> {{element?.salesAccountCommonName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element">
                {{element?.salesPolicy?.address?.street1}},{{element?.salesPolicy?.address?.city}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="effectiveDateCreateDate">
            <th mat-header-cell *matHeaderCellDef> Create Date </th>
            <td mat-cell *matCellDef="let element"> {{element?.effectiveDateCreateDate}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{'selected': sharedService.tab1SelectedRow == row}" (click)="onRowClicked(row)"></tr>


    </table>
    <div *ngIf="!isLoading && tableData.length == 0" style="margin: 24px;color: gray;text-align: center;">
        <h4>No Data Found</h4>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>



<div style="float:right">
    <button mat-icon-button [disabled]="!sharedService.tab1SelectedRow" color="primary" (click)="onEdit()">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button [disabled]="!sharedService.tab1SelectedRow" color="warn" (click)="onDelete()">
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button [disabled]="!sharedService.searchResultSelectedRow" (click)="onAdd()">
        <mat-icon>add</mat-icon>
    </button>
</div>

<table *ngIf="sharedService.tab1SelectedRow" class="detail">
    <tr>
        <th>
            <h5>Contract info</h5>
        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>
    <tr>
        <td>
            <div>Billing Status: {{sharedService.tab1SelectedRow?.billingStatus}}</div>
            <div>Effective Billing Status: {{sharedService.tab1SelectedRow?.effectiveBillingStatus}}</div>
            <div>Billing Pended Indicator: {{sharedService.tab1SelectedRow?.billingPendedIndicator}}</div>
        </td>
        <td>

            <div>Street: {{sharedService.tab1SelectedRow?.salesPolicy?.address?.street1}}</div>
            <div>City: {{sharedService.tab1SelectedRow?.salesPolicy?.address?.city}}</div>
            <div>Zip Code: {{sharedService.tab1SelectedRow?.salesPolicy?.address?.zipCode}}</div>
        </td>
        <td>

            <div>Legal Name: {{sharedService.tab1SelectedRow?.salesPolicy?.legalName}}</div>
            <div>Policy CommonName: {{sharedService.tab1SelectedRow?.salesPolicy?.policyCommonName}}</div>
            <div>Effective Date: {{sharedService.tab1SelectedRow?.salesPolicy?.effectiveDate}}</div>
        </td>

    </tr>
    <tr>
        <th>
            <h5>Sales Policy</h5>
        </th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>

            <div>Street: {{sharedService.tab1SelectedRow?.salesPolicy?.address?.street1}}</div>
            <div>City: {{sharedService.tab1SelectedRow?.salesPolicy?.address?.city}}</div>
            <div>Zip Code: {{sharedService.tab1SelectedRow?.salesPolicy?.address?.zipCode}}</div>
        </td>
        <td>

            <div>Legal Name: {{sharedService.tab1SelectedRow?.salesPolicy?.legalName}}</div>
            <div>Policy CommonName: {{sharedService.tab1SelectedRow?.salesPolicy?.policyCommonName}}</div>
            <div>Effective Date: {{sharedService.tab1SelectedRow?.salesPolicy?.effectiveDate}}</div>
        </td>
        <td>

            <div>Billing Status: {{sharedService.tab1SelectedRow?.billingStatus}}</div>
            <div>Effective Billing Status: {{sharedService.tab1SelectedRow?.effectiveBillingStatus}}</div>
            <div>Billing Pended Indicator: {{sharedService.tab1SelectedRow?.billingPendedIndicator}}</div>
        </td>

    </tr>

</table>

<button mat-stroked-button color="primary" (click)="onAddComment()" style="float:right">
    <mat-icon>add</mat-icon> Add Comments
</button>

<table mat-table [dataSource]="comments" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element?.date}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef> Comment </th>
        <td mat-cell *matCellDef="let element"> {{element?.comment}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedCommentsColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedCommentsColumns;"></tr>

</table>
<mat-toolbar></mat-toolbar>