table {
    width: 100%;
}
.detail {
    margin: 24px;
    width: -webkit-fill-available;
    color: #58617a;
    th {
        text-align: start;
        color: darkslategray;
    }
    
    td {
        vertical-align: -webkit-baseline-middle;
        vertical-align: baseline;
    }
}


th.mat-sort-header-sorted {
    color: black;
}

.selected {
    background: lavender;
}

.mat-spinner {
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
}

.mat-grid-tile .mat-figure {
    justify-content: start !important;
}