<button mat-button color="primary" routerLink="">
    <mat-icon>keyboard_return</mat-icon> Back to search
</button>
<mat-toolbar *ngIf="sharedService.searchResultSelectedRow">
        {{sharedService.searchResultSelectedRow.clientId}} {{sharedService.searchResultSelectedRow.accountCommonName}}
</mat-toolbar>
<mat-tab-group>
    <mat-tab label="First">
        <app-tab-one></app-tab-one>
    </mat-tab>
    <mat-tab label="Second">
        <app-tab-two></app-tab-two>
    </mat-tab>
</mat-tab-group>