/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red-snackbar {
    color: rgb(255, 255, 255);
    background: #b41818;
    ng-deep.mat-snack-bar-container {
        color: rgb(255, 255, 255);
        background: #b41818;
    }
}

.mat-simple-snackbar-action button {
    max-height: 36px;
    min-width: 0;
    color: white;
}