<div style="text-align:center">
    <h4>Client Contract</h4>
    <span>Please search by client name to begin</span>
    <div>
        <app-search-lib (searchResult)="onSearchDataOut($event)" style="display: inline-block;"></app-search-lib>
        <button *ngIf="tableData.length > 0" mat-stroked-button (click)="onReset()">
            Reset
        </button>
    </div>

</div>

<div>
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="clientId" style="float:right">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Id </th>
            <td mat-cell *matCellDef="let element"> {{element.clientId}} </td>
        </ng-container>

        <ng-container matColumnDef="contractId" style="float:right">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contract Id </th>
            <td mat-cell *matCellDef="let element"> {{element.contractId}} </td>
        </ng-container>

        <ng-container matColumnDef="accountCommonName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Common Name </th>
            <td mat-cell *matCellDef="let element"> {{element.accountCommonName}} </td>
        </ng-container>

        <ng-container matColumnDef="billingStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Billing Status </th>
            <td mat-cell *matCellDef="let element"> {{element.billingStatus}} </td>
        </ng-container>

        <ng-container matColumnDef="effectiveDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Effective Date </th>
            <td mat-cell *matCellDef="let element"> {{element.effectiveDate}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="rowClicked(row)">
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>

    <div *ngIf="tableData.length == 0" style="margin: 24px;color: gray;text-align: center;">
        <h4>No Data Found</h4>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>